<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>[[${name}]]</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<!--加载框-->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" th:src="@{/img/loader.svg}" width="48" height="48" alt="Aero">
        </div>
        <p>Please wait...</p>
    </div>
</div>
<div class="overlay"></div>
<body class="theme-blush">
<!--左侧菜单-->
<div class="navbar-right">
    <ul class="navbar-nav">
        <li><a href="javascript:void(0);" class="js-right-sidebar" title="设置"><i
                class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        <li><a href="javascript:void(0);" class="mega-menu" title="注销登录"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>
<!-- 左侧栏 -->
<div th:replace="pages/sidebar :: sidebar"></div>
<!-- 右侧栏 -->
<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs sm">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i
                class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="setting">
            <div class="slim_scroll">
                <div class="card">
                    <h6>主题选项</h6>
                    <div class="light_dark">
                        <div class="radio">
                            <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                            <label for="lighttheme">亮主题</label>
                        </div>
                        <div class="radio mb-0">
                            <input type="radio" name="radio1" id="darktheme" value="dark">
                            <label for="darktheme">暗主题</label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h6>皮肤颜色</h6>
                    <ul class="choose-skin list-unstyled">
                        <li data-theme="purple">
                            <div class="purple"></div>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                        </li>
                        <li data-theme="blush" class="active">
                            <div class="blush"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--主视图-->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>版本管理</h2>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                            class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <div class="layui-btn-group">
                                    <button class="layui-btn data-add-btn">添加新版本</button>
                                </div>
                                <table id="version" lay-filter="currentTableFilter"></table>
                                <script type="text/html" id="currentTableBar">
                                    <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                                    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete"
                                       lay-event="delete">删除</a>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/libscripts.bundle.js}"></script>
<script th:src="@{/js/vendorscripts.bundle.js}"></script>
<script th:src="@{/js/mainscripts.bundle.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script class="AddVersionInfo" type="text/html">
    <form class="layui-form layui-form-pane" action="" lay-filter="VersionInfo">
        <div class="layui-form-item">
            <label class="layui-form-label">版本名</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="version_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">更新内容</label>
            <div class="layui-input-block">
                <textarea name="version_msg" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本号</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required|number" name="version" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下载地址</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required|url" name="version_address" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="version_state" value="0" title="停用" checked="">
                <input type="radio" name="version_state" value="1" title="正常">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">强制更新</label>
            <div class="layui-input-block">
                <input type="radio" name="version_mode" value="0" title="可选" checked="">
                <input type="radio" name="version_mode" value="1" title="强制">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-hide" lay-submit="" lay-filter="add_version"></button>
        </div>
    </form>
</script>
<script class="EditVersionInfo" type="text/html">
    <form class="layui-form layui-form-pane" action="" lay-filter="VersionInfo">
        <div class="layui-hide">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
                <input disabled="disabled" type="text" name="id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本名</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="version_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">更新内容</label>
            <div class="layui-input-block">
                <textarea name="version_msg" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本号</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required|number" name="version" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下载地址</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required|url" name="version_address" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="version_state" value="0" title="停用" checked="">
                <input type="radio" name="version_state" value="1" title="正常">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">强制更新</label>
            <div class="layui-input-block">
                <input type="radio" name="version_mode" value="0" title="可选" checked="">
                <input type="radio" name="version_mode" value="1" title="强制">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-hide" lay-submit="" lay-filter="submit"></button>
        </div>
    </form>
</script>
<script>
    layui.use(['table', 'form'], function () {
        var table = layui.table,
            form = layui.form,
            laydate = layui.laydate;
        table.render({
            elem: '#version'
            , url: '/Sys/Update/GetAll'
            , method: 'post'
            , cellMinWidth: 80
            , page: true
            , limit: 10
            , limits: [20, 50, 100, 200, 500]
            , loading: true
            , cols:
                [
                    [
                        {field: 'id', width: 60, title: 'ID', sort: true},
                        {field: 'version_name', title: '版本名'},
                        {field: 'version_msg', title: '更新内容'},
                        {field: 'version', title: '版本号'},
                        {field: 'version_address', title: '下载地址'},
                        {
                            field: 'version_state', title: '状态', templet: function (rec) {
                                if (rec.version_state == '0')
                                    return "停用";
                                else if (rec.version_state == '1')
                                    return "正常";
                                else
                                    return rec.ver_state;
                            }
                        },
                        {
                            field: 'version_mode', title: '强制更新', templet: function (rec) {
                                if (rec.version_mode == '0')
                                    return "可选";
                                else if (rec.version_mode == '1')
                                    return "强制";
                                else
                                    return rec.ver_force;
                            }
                        },
                        {title: '操作', minWidth: 120, templet: '#currentTableBar', fixed: "right", align: "center"}
                    ]
                ]
        });
        //编辑版本
        form.on('submit(submit)', function (data) {
            var loading = layer.load(0, {
                shade: false
            });
            $.ajax({
                url: "/Sys/Update/EditVer",
                method: 'post',
                data: data.field,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                dataType: 'JSON',
                success: function (result) {
                    layer.close(loading);
                    layer.msg(result.msg, {
                        time: 1000,
                        end: function () {
                            window.location.reload();
                        }
                    });
                },
                error: function (e) {
                    layer.msg("提交错误");
                    layer.close(loading);
                }
            });
            return false;
        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    content: $('.EditVersionInfo').html()
                    , title: '编辑 ' + data.version_name
                    , btn: ['提交修改', '取消']
                    , success: function (layero, index) {
                        form.render();
                        form.val('VersionInfo', {
                            "id": data.id,
                            "version_name": data.version_name,
                            "version_msg": data.version_msg,
                            "version_address": data.version_address,
                            "version": data.version,
                            "version_mode": data.version_mode,
                            "version_state": data.version_state
                        })
                    }
                    , yes: function (res, layero) {
                        layero.find('form').find('button[lay-submit]').click();
                        return false;
                    }
                });
            } else if (obj.event === 'delete') {
                layer.confirm('是否删除 ' + data.version_name + ' 版本', function (index) {
                    obj.del();
                    layer.close(index);
                    var loading = layer.load(0, {
                        shade: false
                    });
                    $.ajax({
                        url: "/Sys/Update/VerDel",
                        method: 'post',
                        data: data,
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        dataType: 'JSON',
                        success: function (result) {
                            layer.msg(result.msg);
                            layer.close(loading);
                        },
                        error: function (e) {
                            layer.msg("提交错误");
                            layer.close(loading);
                        }
                    })
                });
            }
        });
        $(".data-add-btn").on("click", function () {
            layer.open({
                content: $('.AddVersionInfo').html()
                , title: '添加新版本'
                , btn: ['提交', '取消']
                , success: function (layero, index) {
                    form.render();
                }
                , yes: function (res, layero) {
                    layero.find('form').find('button[lay-submit]').click();
                    return false;
                }
            });
        });
        //添加版本
        form.on('submit(add_version)', function (data) {
            var loading = layer.load(0, {
                shade: false
            });
            $.ajax({
                url: "/Sys/Update/AddVersion",
                method: 'post',
                data: data.field,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                dataType: 'JSON',
                success: function (result) {
                    layer.close(loading);
                    layer.msg(result.msg, {
                        time: 1000,
                        end: function () {
                            window.location.reload();
                        }
                    });
                },
                error: function (e) {
                    layer.msg("提交错误");
                    layer.close(loading);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
